header
  height: 300px
  background: linear-gradient(305deg, #dbfff3, transparent)

  .title
    width: 50%
    font-size: 40px
    text-transform: uppercase

  .topNav
    padding: 30px
    display: flex
    align-content: center
    justify-content: space-between

    Link 
      padding-left: 5px
    
 
 

  

